

.container{
  max-width: 72rem;        
  margin: 2.5rem auto;
  
  padding: 2rem;           
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;     
  border: 1px solid #d1d5db; 
  box-sizing: border-box;  
}


.title {
  font-size: 1.875rem; 
  font-weight: 700; 
  color: #1f2937; 
  margin-bottom: 1.5rem; 
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.theadRow {
  background-color: #e5e7eb; 
  color: #4b5563; 
  font-size: 0.875rem; 
  text-transform: uppercase;
}

.th, .td {
  border: 1px solid #9ca3af; 
  padding: 0.75rem 1rem; 
  text-align: center;
  vertical-align: middle;
}

.thCampaignName {
  text-align: center; 
}

.tbodyRowEven {
  background-color: white;
}

.tbodyRowOdd {
  background-color: #f9fafb; 
}

.tbodyRowHover:hover {
  background-color: #eff6ff; 
  transition: background-color 0.15s ease-in-out;
}

.success {
  color: #047857; 
  font-weight: 500; 
}

.failed {
  color: #b91c1c; 
  font-weight: 500;
}

.revenue {
  color: #46a8e5; 
  font-weight: 700; 
}

.fontBold {
  font-weight: 700;
  color: #1f2937; 
}

.noDataCell {
  text-align: center;
  padding: 1rem 0;
  color: #6b7280; 
  border: 1px solid #d1d5db;
}
.attributed {
  color: #374151; 
}
